:root{
    --raduis: 10px;
}

html{
    width: 100%;
}

img{
    width: 50px;
    height: auto;
}

body{

}

/*------------------------------------ Settings ----------------------------------*/

/*------------------------------------- Header ------------------------------------*/
body header{
    width: 100%;
    height: 15vh;
    background: gray;

    padding-bottom: 3vh;

    display: grid;

    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    align-items: center;
}

body header div{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;

    background-image: url(./Images/titleBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: var(--raduis);


    

    width: 60%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
}

body header div h1{
    margin: 0;
    text-align: center;
    font-size: 2em;
}

body header nav menu{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;

    width: 90%;
    height: 100%;

    list-style: none;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

body header nav menu li{
    border-radius: var(--raduis);

    display: flex;
    justify-content: center;
    align-items: center;
}

body header nav menu li a{
    width: 100%;
    height: 100%;
}

body header nav menu li a{
    border-radius: var(--raduis);
}

body header nav menu li a:hover{

    background: lightslategray;
}

body header nav menu li a img{
    border-radius: var(--raduis);
    text-align: center;
}
/*------------------------------------- Main -------------------------------------*/
body main > section:nth-of-type(1){
    width: 100%;
    height: 40vh;
    background: lightgray;
    
    display: grid;
    grid-template-columns: 70% 20%;
    grid-template-rows: 100%;
}

body main > section:nth-of-type(1) > section:nth-of-type(1){
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;

    display: flex;

    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

body main > section:nth-of-type(1) > section:nth-of-type(1) > p{
    margin: 0;
    justify-self: center;
    align-self: center;
    width: 80%;
    height: 80%;
}

body main > section:nth-of-type(1) > section:nth-of-type(2){
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;

    width: 80%;
    height: 80%;

    display: grid;

    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    
}

body main > section:nth-of-type(1) > section:nth-of-type(2) > img{
    justify-self: center;
    align-self: center;
    width: 80%;
    height: auto;

    background-color: bisque;
    padding: 2%;
    border-radius: var(--raduis);
}

