/*------------------------------------ Variables ----------------------------------------------*/

:root{
 --radius: 10px;
}

html{
    width: 100%;
}

body{
}

/*------------------------------------- /Variables ----------------------------------------------*/

/*---------------------------------------- Header ------------------------------------------------*/

body header{
            /*Header Dimentions*/
    width: 100%;
    height: 15vh;

            /*Header Format*/
    background: teal;

            /*Header Display*/
    display: grid;

            /*Grid Properties*/
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
}

/*Header - Title Box*/
/*This is the background of the title*/
body header > div{
            /*Title Position*/
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;

            /*Title Dimentions*/
    width: 60%;
    height: 70%;

            /*Title Format*/
    background: turquoise;
    border-radius: var(--radius);

            /*Title Display*/
    display: flex;

            /*Flex Properties*/
    justify-content: center;
    align-items: center;

}

/*Header - Title Box - Title*/
/*This is the title of the page "Shine & Restore"*/
body header > div > h1{
            /*Text Position*/
    text-align: center;

            /*Text Format*/
    margin: 0;
    padding: 0;

}

/*Header - Navegation*/
/*this is the navegation of the webpage consisting of icons*/
body header > nav{
            /*Navegation Position*/
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;

            /*Navegation Dimentions*/
    width: 90%;
    height: 80%;

            /*Navegation Format*/
    background: turquoise;
    border-radius: var(--radius);

            /*Navegation Display*/
    display: flex;

            /*Flex Properties*/
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*Header - Navegation - Icons (Background)*/
/*This is the background of the icons of the navegation*/
body header > nav a{
            /*Icons Position*/
    justify-self: center;
    align-self: center;

            /*Icons Dimentions*/
    width: 20%;
    height: 80%;

            /*Icons Format*/
    background: rgb(153, 209, 203);
    border-radius: var(--radius);

            /*Icons Display*/
    display: flex;

            /*Flex Properties*/
    justify-content: center;
    align-items: center;
}

/*Header - Navegation - Icons*/
/*This is the icons of the navegation*/
body header > nav > a img{
            /*Text Position*/
    text-align: center;

            /*Image Dimentions*/
    margin: 0;
    padding: 0;


}

/*Header - Navegation - Icon: Home*/
/*This is the icon of the home page*/   /*Specified*/
body header > nav > a:nth-of-type(1) img{

}

/*Header - Navegation - Icon: Account*/
/*This is the icon of the account page*/   /*Specified*/
body header > nav > a:nth-of-type(2) img{

}

/*Header - Navegation - Icon: About Us*/
/*This is the icon of the about us page*/   /*Specified*/
body header > nav > a:nth-of-type(3) img{

}

/*Header - Navegation - Icon: Shopping*/
/*This is the icon of the shopping page*/   /*Specified*/
body header > nav > a:nth-of-type(4) img{

}

/*---------------------------------------- /Header ------------------------------------------------*/

/*---------------------------------------- Body --------------------------------------------------*/

body main{

}

/*Secition 1*/ /*Name: About Us*/ /*Description:*/
    /*Body - This Section*/
    body main > section:nth-of-type(1){
                /*Section Dimentions*/
        width: 100%;
        height: 30vh;

                /*Section Format*/
        background: rgb(104, 104, 104);

                /*Section Display*/
        display: grid;

                /*Grid Properties*/
        grid-template-columns: 15% 85%;
        grid-template-rows: 100%;
    }

    /*Body - This Section - Title Box*/
    /*This is the background of the title*/
    body main > section:nth-of-type(1) > div:nth-of-type(1){
                /*Title Position*/
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
        align-self: center;

                /*Title Dimentions*/
        width: 60%;
        height: 70%;

                /*Title Format*/
        background: rgb(153, 209, 203);
        border-radius: var(--radius);

                /*Title Display*/
        display: flex;

                /*Flex Properties*/
        justify-content: center;
        align-items: center;
    }

    /*Body - This Section - Title*/
    /*The Title of this Section*/ /*Title: "About Us"*/
    body main > section:nth-of-type(1) > div:nth-of-type(1)> h3{
                /*Text Position*/
        text-align: center;

                /*Text Format*/
        margin: 0;
        padding: 0;
        transform: rotate(270deg);
        font-size: 1.5rem;

    }

    /*Body - This Section - Content Box*/
    /*This content box contains all the about us descriptions*/
    body main > section:nth-of-type(1) > div:nth-of-type(2){
                /*Content Box Dimentions*/
        width: 100%;
        height: 100%;

                /*Content Box Format*/
        background: rgb(203, 203, 203);;

                /*Content Box Display*/
        display: grid;

                /*Grid Properties*/
        grid-template-columns: 5% 26% 5% 26% 5% 26% 5%;
    }

    /*Body - This Section - Content Box - Discription Box*/
    /*The Content reffers to the text assosiated with About Us and box is the container of the paragraph*/
    body main > section:nth-of-type(1) > div:nth-of-type(2) > div{
                /*Box Position*/
        justify-self: center;
        align-self: center;

                /*Box Dimentions*/
        width: 100%;
        height: 80%;

                /*Box Format*/
        background: rgb(153, 209, 203);
        border-radius: var(--radius)    ;

                /*Box Display*/
        display: flex;

                /*Flex Properties*/
        justify-content: center;
        align-items: center;
    }

    /*Body - This Section - Content Box - Description Box - Content*/
    /*The text assosiated with About Us*/
    body main > section:nth-of-type(1) > div:nth-of-type(2) > div p{
                /*Text Position*/
        text-align: center;

                /*Text Format*/
        width: 90%;
        margin: 0;
        padding: 0;
    }

    /*Body - This Section - Content Box - Discription Box: First*/
    /*The first description box*/
    body main > section:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1){
                    /*Box Position*/
        grid-column: 2/3;
        grid-row: 1/2;
    }

    /*Body - This Section - Content Box - Discription Box: Second*/
    /*The second description box*/
    body main > section:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2){
                    /*Box Position*/
        grid-column: 4/5;
        grid-row: 1/2;
    }

    /*Body - This Section - Content Box - Discription Box: Third*/
    /*The third description box*/
    body main > section:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(3){
                    /*Box Position*/
        grid-column: 6/7;
        grid-row: 1/2;  
    }


/*Section 2*/  /*Name: "Our Objective"*/  /*Description: */
    /*Body - This Section*/
    body main > section:nth-of-type(2){
                /*Section Dimentions*/
        width: 100%;
        height: 30vh;

                /*Section Format*/
        background: rgb(104, 104, 104);
        
                /*Section Display*/
        display: grid;

                /*Grid Properties*/
        grid-template-columns: 85% 15%;
    }

    /*Body main - Section 2 - This Section*/
    /*This is the background of the title*/
    body main > section:nth-of-type(2) > section:nth-of-type(2){
                /*Section Dimentions*/
        width: 100%;
        height: 100%;
        

                /*Section Display*/
        display: flex;

                /*Flex Properties*/
        justify-content: center;
        align-items: center;
    }

    /*Body main - This Section - Title Box*/
    /*This is the box that holds the title of the web page*/
    body main > section:nth-of-type(2) > section:nth-of-type(2) > div{
                /*Title Position*/
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: center;
        align-self: center;

                /*Title Dimentions*/
        width: 60%;
        height: 70%;

                /*Title Format*/
        background: rgb(153, 209, 203);
        border-radius: var(--radius);

                /*Title Display*/
        display: flex;

                /*Flex Properties*/
        justify-content: center;
        align-items: center;
    }

    /*Body - This Section - Title*/
    /*The Title of this Section which is "Our Objective"*/
    body main > section:nth-of-type(2) > section:nth-of-type(2) > div > h3{
                /*Text Position*/
        text-align: center;

                /*Text Format*/
        margin: 0;
        padding: 0;
    }

    /*Body - This Section - Content Box*/
    /*This is the content box that holds all the description*/
    body main > section:nth-of-type(2) > section:nth-of-type(1){
                /*Content Box Dimentions*/
        width: 100%;
        height: 100%;

                /*Content Box Format*/
        background: rgb(203, 203, 203);

                /*Content Box Display*/
        display: grid;

                /*Grid Properties*/
        grid-template-columns:  repeat(3, calc(100%/3));  
        grid-template-rows: 100%;
    }

    /*Body - This Section - Content Box - Description Box*/
    /*The Content box that holds all the paragraph element*/
    body main > section:nth-of-type(2) > section:nth-of-type(1) > div{
                /*Box Dimentions*/
        width: 90%;
        height: 90%;
        justify-self: center;
        align-self: center;


                /*Box Format*/
        background: gray;
        border-radius: var(--radius);
            
                /*Box Display*/
        display: flex;

                /*Flex Properties*/
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    /*Body - This Section - Content Box - Description Box - Text*/
    /*The paragraph element of the description*/
    body main > section:nth-of-type(2) > section:nth-of-type(1) > div > p{
                /*Text Position*/
        text-align: center;

                /*Text Format*/
        width: 90%;
        margin: 0;
        padding: 0;
    }

    /*Body - This Section - Content Box - Description Box: First */
    /*The first description box*/    /*Specified*/
    body main > section:nth-of-type(2) > section:nth-of-type(1) > div:nth-of-type(1){
                /*First Box Position*/
        grid-column: 1;
        grid-row: 1/2;
    }

    /*Body - This Section - Content Box - Description Box: Second */
    /*The second description box*/    /*Specified*/
    body main > section:nth-of-type(2) > section:nth-of-type(1) > div:nth-of-type(2){
                /*Second Box Position*/
        grid-column: 2;
        grid-row: 1/2;
    }

    /*Body - This Section - Content Box - Description Box: Third */
    /*The third description box*/    /*Specified*/
    body main > section:nth-of-type(2) > section:nth-of-type(1) > div:nth-of-type(3){
                /*Third Box Position*/
        grid-column: 3;
        grid-row: 1/2;
    }
    
    /*Body - This Section - Content Box - Content*/
/*Section 3*/  /*Name: Where We Started*/ /*Description: */
    /*Body - This Section*/
    body main > section:nth-of-type(3){
                /*Section Dimentions*/
        width: 100%;
        height: 30vh;

                /*Section Format*/
        background: rgb(161, 70, 70);

                /*Section Display*/
        display:grid;

                /*Grid Properties*/
        grid-template-columns: 2% 32% 32% 32% 2%;
        grid-template-rows: 100%;
        
    }

    /*Body - Section 3 - This Section*/
    /*This contains the "We're We Started" elements*/
    body main > section:nth-of-type(3) > section{
                /*Section Position*/
        justify-self: center;
        align-self: center;
                /*Section Dimentions*/
        width: 90%;
        height: 90%;

                /*Section Format*/
        background: rgb(203, 203, 203);
        border-radius: var(--radius);

                /*Section Display*/
        display: grid;

                /*Grid Properties*/
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 25% 3% 72%;
    }

    /*Body - Section 3 - This Section - All Elements*/
    /*This selector targets all the elements "*/
    body main > section:nth-of-type(3) > section * {
                /*Text Position*/
        text-align: center;
        grid-column: 2;

                /*Text Format*/
        margin: 0;
        padding: 0;

    }

    /*Body - Section 3 - This Section - hr*/
    /*This is the line, sperator*/
    body main > section:nth-of-type(3) > section > hr{
                /*Line Position*/
        grid-row: 2;
        justify-self: center;
        align-self: center;

                /*Line Dimentions*/
        width: 80%;

                /*Line Format*/
        background: black;
        height: 2px;

                /*Line Display*/
        display: block;
    }


    /*Body - Section 3 - This Section: We're We Started*/
    /*This contains the elements of the section "We're We Started"*/
    body main > section:nth-of-type(3) > section:nth-of-type(1){
                /*Section Position*/
        grid-column: 2/3;
        grid-row: 1/2;
    }

    /*Body - Section 3 - This Section: Our plan*/
    /*This contains the title content of this section*/
    body main > section:nth-of-type(3) > section:nth-of-type(2){
                /*Section Position*/
        grid-column: 3/4;
        grid-row: 1/2;
    }

    /*Body - Section 3 - This Section: The Future*/
    /*This contains the "Future content" of this section*/
    body main > section:nth-of-type(3) > section:nth-of-type(3){
                /*Section Position*/
        grid-column: 4/5;
        grid-row: 1/2;
    }

    /*Body - Section 3 - This Section - Title*/
    /*This selector targets the Title: We're We Started*/
    body main > section:nth-of-type(3) > section > h4{
                /*Text Position*/
        grid-column: 2;
        grid-row: 1;
        justify-self: center;
        align-self: center;
        
                /*Text Format*/
        margin: 0;
        padding: 0;
    }

    /*Body - Section 3 - This Section - Content*/
    /*This is the content of the We're We Started*/
    body main > section:nth-of-type(3) > section > p{
                /*Text Position*/
        grid-column: 2;
        grid-row: 3;
        justify-self: center;
        align-self: center;

                /*Text Format*/
        width: 90%;


    }
   

/*---------------------------------------- /Body -------------------------------------------------*/

/*---------------------------------------- Footer ------------------------------------------------*/
body footer{
            /*Footer Dimentions*/
    width: 100%;
    height: 18vh;

            /*Footer Format*/
    background: teal;

            /*Footer Display*/
    display: grid;

            /*Grid Properties*/
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
}

/*Footer - Socials*/
/*The social media icons*/
body footer > div:nth-of-type(1){
            /*Socials Position*/
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;

            /*Socials Dimentions*/

            /*Socials Format*/
    background: turquoise;
    border-radius: var(--radius);

            /*Socials Display*/
    display: flex;

            /*Flex Properties*/
    justify-content: space-evenly;
    align-items: center;

}

/*Footer - Socials - Icons*/
/*The social media icons*/
body footer > div > a img{

}

/*Footer - Socials - Icon: TikTok*/
/*The TikTok icon*/
body footer > div > a:nth-of-type(1) img{

}

/*Footer - Socials - Icon: X*/
/*The X icon*/
body footer > div > a:nth-of-type(2) img{

}

/*Footer - Socials - Icon: Insta*/
/*The Insta icon*/
body footer > div > a:nth-of-type(3) img{

}

/*Footer - Socials - Icon: Facebook*/
/*The facebook icon*/
body footer > div > a:nth-of-type(4) img{

}

/*Footer - Content Box*/
/*The content box for the rederectory to the home page*/
body footer > div:nth-of-type(2){

}

/*Footer - Content Box - Title*/
/*The title of the content box*/
body footer > div:nth-of-type(2) > h5{

}

/*Footer - Content Box - Icon*/
/*The home icon for the link for going back*/
body footer > div:nth-of-type(2) > img{

}