/*----------------------------------- Variables ----------------------------------------------*/
:root{

}

html{

}

body{

}

/*------------------------------------ Variables ----------------------------------------------*/

/*-------------------------------------- Header ------------------------------------------------*/

/*Header*/
/*The Header of the page, the top of the page contains the page title and navegation menu*/
body header{

}

/*Header - Page Title Box*/
/*The box that contains the page title*/
body header > div:nth-of-type(1){

}

/*Header - Page Title Box - Page Title*/
/*The title: "Accounts"*/
body header > div:nth-of-type(1) > h1{

}

/*Header - Navegation*/
/*The navegation menu which are icons*/
body header > nav{

}

/*Header - Navegation - Icons*/
/*The icons of the navegation menu*/
body header > nav > a img{

}

/*Header - Navegation - Icons: Home*/
/*The icon of the home page*/ /*Specified*/
body header > nav > a:nth-of-type(1) img{

}

/*Header - Navegation - Icons: Account*/
/*The icon of the account page*/ /*Specified*/
body header > nav > a:nth-of-type(2) img{

}

/*Header - Navegation - Icons: About Us*/
/*The icon of the about us page*/ /*Specified*/
body header > nav > a:nth-of-type(3) img{

}

/*Header - Navegation - Icons: Shopping*/
/*The icon of the shopping page*/ /*Specified*/
body header > nav > a:nth-of-type(4) img{

}

/*-------------------------------------- Header ------------------------------------------------*/

/*--------------------------------------- Body --------------------------------------------------*/

body main{

}

/*Section 1*/
    /*The first section of the page containing contents of Creating An New Account*/
    /*Body - This Section*/
    body main > section:nth-of-type(1){

    }

    /*Body - This Section - Title*/
    /*The title of the section: "Creating An Account"*/
    body main > section:nth-of-type(1) > h3{

    }


    /*Body - This Section - Form <=Data=> 
        /*          
                Input 1: Username
                Input 2: Password
                   -------------
                Input 3: Submit
        
                Username: type="text" name="username" id="username" placeholder="Username"
                Password: type="password" name="password" id="password" palceholder="Password"
        *//*
    */

    /*Body - This Section - Form*/
    /*The form that contains the input fields for creating an account*/
    body main > section:nth-of-type(1) > form{

    }


    /*Body - This Section - Form - Inputs*/
    /*The input for creating an account consisting of the username and password*/ /*Specified*/
    body main > section:nth-of-type(1) > form > input:nth-of-type(1), body main > section:nth-of-type(1) > form > input:nth-of-type(2){

    }

    /*Body - This Section - Form - Inputs: Username*/
    /*The input for the username*/ /*Specified*/
    body main > section:nth-of-type(1) > form > input:nth-of-type(1){

    }

    /*Body - This Section - Form - Inputs: Password*/
    /*The input for the password*/ /*Specified*/
    body main > section:nth-of-type(1) > form > input:nth-of-type(2){

    }

    /*Body - This Section - Form - Inputs: Submit*/
    /*The submit button for creating an account*/ /*Specified*/
    body main > section:nth-of-type(1) > form > input:nth-of-type(3){

    }

/*Section 2*/
    /*This section is the log in sections for those who already have an account*/
    /*Body - This Section*/
    body main > section:nth-of-type(2){

    }

    /*Body - This Section - Title*/
    /*The title of the section: "Log In"*/
    body main > section:nth-of-type(2) > h3{

    }

    /*Body - This Section - Form <=Data=> 
        /*          
                Input 1: Username
                Input 2: Password
                   -------------
                Input 3: Submit
        
                Username: type="text" name="username" id="username"
                Password: type="password" name="password" id="password"
        *//*
    */

    /*Body - This Section - Form*/
    /*The form that contains the input for loging in*/
    body main > section:nth-of-type(2) > form{

    }

    /*Body - This Section - Form - Inputs*/
    /*The input for loging in consisting of the username and password*/ /*Specified*/
    body main > section:nth-of-type(2) > form > input:nth-of-type(1), body main > section:nth-of-type(2) > form > input:nth-of-type(2){

    }

    /*Body - This Section - Form - Inputs: Username*/
    /*The input for the username*/ /*Specified*/
    body main > section:nth-of-type(2) > form > input:nth-of-type(1){

    }

    /*Body - This Section - Form - Inputs: Password*/
    /*The input for the password*/ /*Specified*/
    body main > section:nth-of-type(2) > form > input:nth-of-type(2){

    }

    /*Body - This Section - Form - Inputs: Submit*/
    /*The submit button for loging in*/ /*Specified*/
    body main > section:nth-of-type(2) > form > input:nth-of-type(3){

    }

/*--------------------------------------- Body --------------------------------------------------*/

/*--------------------------------------- Footer ------------------------------------------------*/

body footer{

}

/*Footer - Socials*/
/*The social media icons*/
body footer > div:nth-of-type(1){

}

/*Footer - Socials - Icons*/
/*The icons of the social media*/
body footer > div:nth-of-type(1) > a img{

}

/*Footer - Socials - Icons: Facebook*/
/*The icon of the facebook page*/ /*Specified*/
body footer > div:nth-of-type(1) > section:nth-of-type(1) a img{

}

/*Footer - Socials - Icons: X*/
/*The icon of the X page*/ /*Specified*/
body footer > div:nth-of-type(1) > section:nth-of-type(2) a img{

}

/*Footer - Socials - Icons: Instagram*/
/*The icon of the instagram page*/ /*Specified*/
body footer > div:nth-of-type(1) > section:nth-of-type(3) a img{

}

/*Footer - Socials - Icons: Facebook*/
/*The icon of the facebook page*/ /*Specified*/
body footer > div:nth-of-type(1) > section:nth-of-type(4) a img{

}