
/*Lato regular*/
@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.ttf') format('truetype');
    font-weight: normal;
}


/*Lato bold*/
@font-face {
    font-family: 'Lato';
    src: url('Lato-Bold.ttf') format('truetype');
    font-weight: bold;
}

/*Lato light*/
@font-face {
    font-family: 'Lato';
    src: url('Lato-Light.ttf') format('truetype');
    font-weight: lighter;
}

/*Nunito*/
@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
}

/*Nunito bold*/
@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
}

/*Nunito light*/
@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Light.ttf') format('truetype');
    font-weight: lighter;
}

/*PT_Sans*/
@font-face {
    font-family: 'PT_Sans';
    src: url('PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
}

/*PT_Sans bold*/
@font-face {
    font-family: 'PT_Sans';
    src: url('PTSans-Bold.ttf') format('truetype');
    font-weight: bold;
}

/*Quicksand*/
@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
}

/*Quicksand bold*/
@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand-Bold.ttf') format('truetype');
    font-weight: bold;
}

/*Quicksand light*/
@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand-Light.ttf') format('truetype');
    font-weight: lighter;
}

/*Roboto_Mono*/
@font-face {
    font-family: 'Roboto_Mono';
    src: url('RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
}

/*Roboto_Mono bold*/
@font-face {
    font-family: 'Roboto_Mono';
    src: url('RobotoMono-Bold.ttf') format('truetype');
    font-weight: bold;
}

/*Roboto_Mono light*/
@font-face {
    font-family: 'Roboto_Mono';
    src: url('RobotoMono-Light.ttf') format('truetype');
    font-weight: lighter;
}

/*Jasefin_Sans*/
@font-face {
    font-family: 'Josefin_Sans';
    src: url('JosefinSans-Regular.ttf') format('truetype');
    font-weight: normal;
}

/*Jasefin_Sans bold*/
@font-face {
    font-family: 'Josefin_Sans';
    src: url('JosefinSans-Bold.ttf') format('truetype');
    font-weight: bold;
}

/*Jasefin_Sans light*/
@font-face {
    font-family: 'Josefin_Sans';
    src: url('JosefinSans-Light.ttf') format('truetype');
    font-weight: lighter;
}

/*Space_Grotesk*/
@font-face {
    font-family: 'Space_Grotesk';
    src: url('SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
}

/*Space_Grotesk bold*/
@font-face {
    font-family: 'Space_Grotesk';
    src: url('SpaceGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
}

/*Space_Grotesk light*/
@font-face {
    font-family: 'Space_Grotesk';
    src: url('SpaceGrotesk-Light.ttf') format('truetype');
    font-weight: lighter;
}

/*Titillium_Web*/
@font-face {
    font-family: 'Titillium_Web';
    src: url('TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: normal;
}

/*Titillium_Web bold*/
@font-face {
    font-family: 'Titillium_Web';
    src: url('TitilliumWeb-Bold.ttf') format('truetype');
    font-weight: bold;
}

/*Titillium_Web light*/
@font-face {
    font-family: 'Titillium_Web';
    src: url('TitilliumWeb-Light.ttf') format('truetype');
    font-weight: lighter;
}

/*Archivo*/
@font-face {
    font-family: 'Archivo';
    src: url('Archivo-Regular.ttf') format('truetype');
    font-weight: normal;
}
