/*PT_Sans*/
@font-face {
    font-family: 'PT_Sans';
    src: url('../Fonts/PT_Sans/PTSans-Regular.ttf') format('truetype');
}
   

/*Quicksand*/
@font-face {
    font-family: 'Quicksand';
    src: url('../Fonts/Quicksand/static/Quicksand-Regular.ttf') format('truetype');
}


/*Roboto_Mono*/
@font-face {
    font-family: 'Roboto_Mono';
    src: url('../Fonts/Roboto_Mono/static/RobotoMono-Regular.ttf') format('truetype'); /*./RobotoMono-Regular.ttf <- it works but its unwanted*/

}

/*Space_Grotesk*/
@font-face {
    font-family: 'Space_Grotesk';
    src: url('./SpaceGrotesk-Regular.ttf') format('truetype');
    
}
